<!-- Add your content of head and header -->
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">

  <title>board</title>  

<link href="{% static 'main.97292821.css' %}" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right white-text-container">
           
            {% if request.session.user %}
                <p>
                    <h4> {{ request.session.user }} 님, 환영합니다.</h4>
                    <a href="{%url 'join'%}" class="btn btn-default navbar-btn" >회원가입</a>
                    <a href="{%url 'logout'%}" class="btn btn-default navbar-btn" >로그아웃</a>
                </p>
            {% else %} 
                <p>
                    <a href="{% url 'join' %}" class="btn btn-default navbar-btn" >회원가입</a>
                    <a href="{% url 'login'%}" class="btn btn-default navbar-btn" >로그인</a>
                </p>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./assets/images/img-05.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <a href="{% url 'index'%}" class="col-xs-12">
                <h1>COOPERATIONIST</h1>
            </a>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">회원가입</h2>
                </div>
                <form action="./userJoin/" method="POST">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="id" name="user_id" class="form-control" placeholder="아이디">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호">
                            </div>
                        </div>
                        <div class="col-md-6">
                            {{error}}
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" id ="password2" name="password2" class="form-control" placeholder="비밀번호확인">
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" name="passwordCheck" class="form-control" placeholder="이메일">
                            </div>
                        </div> -->
                    </div>


                    <button type="submit" class="btn btn-primary">회원가입</button>
                    <a href="{% url 'index' %}" class="btn btn-default">취소</a>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>learning together</p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

               
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="./main.faaf51f9.js"></script>