{% extends 'web01/base.html' %}

{% block content %}
		<!-- bodytext_area -->
		<br><br>
        <div class="section-container-spacer">
            <h2 class="text-center">게시판</h2>
		</div>
		<div class="bodytext_area box_inner">
			<form action="./listSearch/" method="GET" class="minisrch_form">
                {% csrf_token %}
				<fieldset>
					<legend>검색</legend>
					<input type="text" name="text" class="tbox" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요">
                    <!-- <a href="{%url 'listSearch'%}" class="btn_srch">검색</a> -->
                    <button type="submit" class="btn_srch">검색</button>
                    
				</fieldset>
            </form>
            
			<table class="bbsListTbl" summary="번호,제목,조회수 등을 제공하는 표">
				<caption class="hdd">목록</caption>
				<thead>
					<tr>
						<th scope="col">번호</th>
						<th scope="col">제목</th>
						<th scope="col">작성자</th>
						<th scope="col">조회수</th>
					</tr>
                </thead>
                
				<tbody>

					{% for content in contents %}
					<form action="./moreView/?id={{content.id}}" method="GET">
						{% csrf_token %}
                        <input type="hidden" name="id" value="{{content.id}}" />
                        <!-- <input type="hidden" name="u_id" value="{{user.user_id}}" />  -->
                        <div name='content'>
                            <tr>
                                <td>{{ content.id }}</td>
								<td class="tit_notice"><a href="./moreView/?id={{content.id}}">{{content.title}}</a></td>   
                                <!--href="url?id='{{o.id}}'"-->
                                
                                <td class="tit_notice">{{content.userId.user_id}}</a> </td>
                                <td class="tit_notice">{{content.cnt}}</a> </td>
                            </tr>
                        </div>
                    </form>
					{% endfor %} 
					
				</tbody>
			</table>
			<br>
			<a href="{% url 'listForm' %}" class="btn btn-default navbar-btn" >글쓰기</a>
			<!-- pagination -->
			 <div class="pagination">
				<!-- <a href="javascript:;" class="firstpage  pbtn"><img src="images/btn_firstpage.png" alt="첫 페이지로 이동"></a>
				<a href="javascript:;" class="prevpage  pbtn"><img src="images/btn_prevpage.png" alt="이전 페이지로 이동"></a>
				<a href="javascript:;"><span class="pagenum currentpage">1</span></a>
				<a href="javascript:;"><span class="pagenum">2</span></a>
				<a href="javascript:;"><span class="pagenum">3</span></a>
				<a href="javascript:;"><span class="pagenum">4</span></a>
				<a href="javascript:;"><span class="pagenum">5</span></a>
				<a href="javascript:;" class="nextpage  pbtn"><img src="images/btn_nextpage.png" alt="다음 페이지로 이동"></a>
				<a href="javascript:;" class="lastpage  pbtn"><img src="images/btn_lastpage.png" alt="마지막 페이지로 이동"></a> -->
			</div> 
			<!-- //pagination -->
			
		</div>
		<!-- //bodytext_area -->

	</div>
	<!-- //container -->

    {% endblock %}