<!-- Add your content of head and header -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <title>board</title>  

<link href="{% static './main.97292821.css'%}" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right white-text-container">
           
            {% if request.session.user %}
                <p>
                    <h4> {{ request.session.user }} 님, 환영합니다.</h4>
                    <a href="{%url 'join'%}" class="btn btn-default navbar-btn" >회원가입</a>
                    <a href="{%url 'logout'%}" class="btn btn-default navbar-btn" >로그아웃</a>
                </p>
            {% else %} 
                <p>
                    <a href="{% url 'join' %}" class="btn btn-default navbar-btn" >회원가입</a>
                    <a href="{% url 'login'%}" class="btn btn-default navbar-btn" >로그인</a>
                </p>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./assets/images/img-05.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <a href="{% url 'index'%}" class="col-xs-12">
                <h1>COOPERATIONIST</h1>
            </a>
        </div>
    </div>
</div>


    <!-- bodytext_area -->
    <form action="" method="GET"> {% csrf_token %}
        <input type="hidden" name="id" value="{{content.id}}" />
    <div class="bodytext_area box_inner">			
        <ul class="bbsview_list">
            <li class="bbs_title"> {{ content.title }} </li>
            <li class="bbs_date">조회수 : <span>{{content.cnt}}</span></li> 
            <li class="bbs_content">
                <div class="editer_content">
                    {{ content.context }}
                </div>
            </li>
        </ul>
        
        <a href="./deleteList/?id={{content.id}}" class="btn btn-default navbar-btn" >글 삭제</a>
        <a href="./updateList/?id={{content.id}}" class="btn btn-default navbar-btn" >글 수정</a>
        <p class="btn_line txt_right">
            <a href="{% url 'viewList' %}" class="btn_bbs">목록</a>
        </p>
    </form>
        <!-- <ul class="near_list mt20">
            <li><h4 class="prev">다음글</h4><a href="javascript:;">추석 연휴 티켓/투어 배송 및 직접 수령 안내</a></li>		
            <li><h4 class="next">이전글</h4><a href="javascript:;">이번 여름 휴가 제주 갈까? 미션 투어 (여행경비 50만원 지원)</a></li>
        </ul> -->
    </div>
   
    <!-- //bodytext_area -->

</div>
<!-- //container -->




<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>learning together</p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

           
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="./main.faaf51f9.js"></script>