{% extends 'web01/base.html' %}

{% block content %}

{% if not_login %}
    <script>alert("로그인 후 답글 작성이 가능합니다.")</script>
{% endif %}

{% if not_write %}
    <script>alert("작성하신 답글 내용이 없습니다.")</script>
{% endif %}
    <!-- bodytext_area -->
    <form action="" method="GET"> {% csrf_token %}
        <input type="hidden" name="id" value="{{content.id}}" />
    <div class="bodytext_area box_inner">			
        <ul class="bbsview_list">
            <li class="bbs_title"> {{ content.title }} </li>
            <li class="bbs_date">조회수 : <span>{{content.cnt}}</span></li> 
            <li class="bbs_date">작성자 : <span>{{content.userId.user_id}}</span></li>
            <li class="bbs_content">
                <div class="editer_content">
                    {{ content.context }}
                </div>
            </li>
        </ul>
        
        <p class="btn_line txt_right">
            <a href="{% url 'viewList' %}" class="btn_bbs">목록</a>
        </p>
    </form>
        
     <!-- 답글 영역 -->
        <br>
        <form action="./createReply/" method="POST"> 
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="content.id" value="{{content.id}}"/>
                <textarea class="form-control" rows="3" name="context" placeholder="답글을 달아주세요. 로그인 후 이용이 가능합니다."></textarea>
            </div>
            <div>
                {{error}}
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
            <a href="{% url 'viewList' %}" class="btn btn-default">취소</a>
        </form>
        
         <!-- 답글리스트 -->

        <table class="bbsListTbl">
            <caption class="hdd">목록</caption>

           
        <br><br><br>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">답글내용</th>
                    <th scope="col">작성자</th>
                    <th scope="col">기타</th>
                </tr>
            </thead>
            
            <tbody>
                {% for reply in replies %}
                <form action="./deleteReply/" method="POST">
                    <!-- <form action="./deleteReply/?id={{reply.id}}" method="POST"></form> -->
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{reply.id}}" />
                    <input type="hidden" name="c_id" value="{{content.id}}" />
                    <div name='content'>
                        <tr>
                            <td>{{ reply.id }}</td>
                            <td class="tit_notice">{{reply.replyCon}}</a> </td>
                            <td class="tit_notice">{{reply.user}}</td> 
                            {{% if reply.user == request.session['user'] %}}
                                <td class="tit_notice">
                                    <button type="submit" class="btn btn-primary">수정</button>
                                    <button type="submit" class="btn btn-default">삭제</button>
                                </td>
                            {{% endif %}}
                            <!--href="url?id='{{o.id}}'"-->
                        </tr>
                    </div>
                </form>
                {% endfor %} 
                
            </tbody>
        </table>
    </div>
    
    
   
    <!-- //bodytext_area -->

</div>
<!-- //container -->



{% endblock %}